{{#extend "stylesheets"}}
{{/extend}}

<h1>GiggyPOP</h1>
<p>Which gig do you want to go to? Paste your ticket url here:</p>
<form>
  <input type="text" class="ticket" placeholder="Dice / Songkick / Roundhouse" length="200" />
</form>

{{#extend "scripts"}}
<script src="/javascripts/indexViewController.js"
{{/extend}}
