{{#extend "stylesheets"}}
{{/extend}}

<h1>GiggyPOP</h1>
<p>Which gig do you want to go to? Paste your ticket url here:</p>

<div class="ticketView">
  <input type="text" class="ticket" placeholder="Dice / Songkick / Roundhouse" maxlength="100" />
</div>

<div class="searchView"></div>

{{#extend "scripts"}}
<script src="/javascripts/libs/zepto.js" /></script>
<script src="/javascripts/libs/underscore.js" /></script>
<script src="/javascripts/libs/backbone.js" /></script>
<script src="/javascripts/indexViewController.js" /></script>
{{/extend}}
