<header>
	<h1>GIGGY POP</h1>
	<h2>Never Gig Alone Again</h2>

	<p>Get your tickets as soon as you have a friend to go with!</p>
</header>

<div class="container">
	<p class="which-gig">Which gig do you want to go to?</p>

	<ul class="gigs">
		<li class="gig">
			<img src="/img/squarepusher.jpg">
			<div class="details">
				<h2>Squarepusher</h2>
				<ul>
					<li>at <a href="/" class="venue">Troxy, London</a></li>
					<li>on <strong class="date">Saturday 24 October 2015</strong></li>
					<li class="price">£16</li>
				</ul>
			</div>
			<button>I want to go!</button>
		</li>
		<li class="gig">
			<img src="/img/squarepusher.jpg">
			<div class="details">
				<h2>Squarepusher</h2>
				<ul>
					<li>at <a href="/" class="venue">Troxy, London</a></li>
					<li>on <strong class="date">Saturday 24 October 2015</strong></li>
					<li class="price">£16</li>
				</ul>
			</div>
			<button>I want to go!</button>
		</li>
		<li class="gig">
			<img src="/img/squarepusher.jpg">
			<div class="details">
				<h2>Squarepusher</h2>
				<ul>
					<li>at <a href="/" class="venue">Troxy, London</a></li>
					<li>on <strong class="date">Saturday 24 October 2015</strong></li>
					<li class="price">£16</li>
				</ul>
			</div>
			<button>I want to go!</button>
		</li>
		<li class="gig">
			<img src="/img/squarepusher.jpg">
			<div class="details">
				<h2>Squarepusher</h2>
				<ul>
					<li>at <a href="/" class="venue">Troxy, London</a></li>
					<li>on <strong class="date">Saturday 24 October 2015</strong></li>
					<li class="price">£16</li>
				</ul>
			</div>
			<button>I want to go!</button>
		</li>

	</ul>
<div>


{{#extend "scripts"}}
<script src="/javascripts/libs/zepto.js" /></script>
<script src="/javascripts/libs/underscore.js" /></script>
<script src="/javascripts/libs/backbone.js" /></script>
<script src="/javascripts/indexViewController.js" /></script>
{{/extend}}
