{{#extend "stylesheets"}}
{{/extend}}

<h1>GiggyPOP</h1>
<p>Invite your friends</p>

<p>Gig: {{ gig }}</p>

<div class="inviteFriendsView"></div>

{{#extend "scripts"}}
<script src="/javascripts/libs/zepto.js" /></script>
<script src="/javascripts/libs/underscore.js" /></script>
<script src="/javascripts/libs/backbone.js" /></script>
{{/extend}}
