<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="/javascripts/index-view.js" />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
