<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/app.css" />

    {{{block "stylesheets"}}}
  </head>
  <body>
    {{{body}}}
  </body>
  {{{block "scripts"}}}
</html>
