body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.ticket {
  width: 90%;
  height: 4rem;
  font-size: 2rem;
  letter-spacing: 0.9;
  padding: 0.5rem;
}

.searchView {
  color: #999;
  font-size: 2rem;
  padding: 2rem 0;
}
