body {
	background-color: #f7f6f2;
	margin: 0;
}

.container {
	@include outer-container;
	background-color: #fff;
	padding: $column 0;
}

header {
	text-align: center;

	h1 {
		padding: 15px 0;
		margin-bottom: 200px;

		background: #282828;
		color: #fff;
		font-weight: bold;
	}

	p {
		margin-bottom: 50px;
	}
}