/* Colours -> Branding */

$primary-brand-colour: #ff23a1;
$primary-heading-colour: #282828;

/* Neat / Bourbon */

$visual-grid: false;
$visual-grid-color: #ccc;
$visual-grid-index: front;
$visual-grid-opacity: 0.2;