.which-gig {
    @include shift(1);
    text-transform: uppercase;
    font-weight: bold;
    font-size: em(24px);
}

.gigs {

  &> li {
    @include row();
    margin-bottom: 20px;
  }

  img {
    @include shift(1);
    @include span-columns(2);
  }

  .details {
    @include span-columns(6);

    &> h2 {
      margin-top: 10px;
      font-size: em(22px);
    }
  }

  button {
    @include span-columns(2);
    margin-top: 10px;
  }

}